.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 500ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 500ms ease-out;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer {
  background-color: #ff6f60;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding:30px 30px 5px 30px !important;
  margin:0px auto;
  background-color: #263238 !important;
  color:#ffffff;
}

.minijumbotron {
  padding:15px 30px 15px 30px !important;
  margin:0px auto;
  background-color: #bf360c !important;
  color:#ffffff;
}

.jumbo-button-1 {
  float:right;
  padding: 5px 5px 5px 5px;
  background-color: #870000 !important;
  color: #ffffff !important;
  width: 60px;
  height: 60px;
  border-radius: 47% !important; 
}

.jumbo-button-2 {
  position: absolute  !important;
  padding: 5px 5px 5px 5px;
  background-color: #870000 !important;
  color: #ffffff !important;
  width: 60px;
  height: 60px;
  border-radius: 47% !important;
  bottom: 0px !important;
  right: 30px !important;
}

.button-container {
  position: relative  !important;
}

.primary-button {
  margin: 10px !important;
  background-color: #870000 !important;
  color: #ffffff !important;
}

.secondary-button {
  margin: 10px !important;
  background-color: #f9683a !important;
  color: #ffffff !important;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #870000;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateZ(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 0.01;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

a {
  color: black;
}

a:hover {
   color: #00F
}

.link {
  color: black;
}
.link:hover {
   color: #00F
}

.map-responsive{
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.display-image-size {
  width: 100px;
  height: 250px;
}

.detail-size {
  width: 100%;
  height: 100%;
}

.inline-block {
  display: inline-block;
}

.info-size {
  height: 20vh;
}

.comment-size {
  height: 30vh;
}

.scroll {
  overflow-y: scroll;
}

.leader-image {
  height: 30vh;
  width: auto;
}